/* General styles for the chat interface */
.chat-message {
    background-color: #f8f9fa;
    border-radius: 15px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    max-height: 450px;
    overflow-y: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-message img {
    border-radius: 50%;
    margin-right: 10px;
}

.text-primary {
    font-weight: bold;
    color: #007bff;
    margin-left: 10px;
}

.message-left,
.message-right {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    max-width: 80%;
}

.message-left {
    justify-content: flex-start;
}

.message-right {
    justify-content: flex-end;
}

.message-icon {
    margin-left: 10px;
}



/* Input and button styling */
.form-control {
    border-radius: 20px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    width: 80%;
}

button[type="primary"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

button[type="primary"]:hover {
    background-color: #b7c7d8;
}

/* Copyright section */
#copyright {
    text-align: center;
    color: #6c757d;
    font-size: 12px;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #8b97a2;
}
