.App {
  text-align: center;
}

.chat-message{
  background-color: #f2f2f2;
  margin: 1em auto;
  padding: 2em;
  width: 50%;
  max-height: 450px;
  overflow-y: auto; 
  border-radius: 25px;
  color: gray;
  font-size: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.message-right{
  background: #f5c998;
  border-radius: 25px;
  padding: .5em 1em !important;
  margin: 1em;
}

.message-left{
  background: #f5c998;
  border-radius: 25px;
  padding: 0em 1em !important;
  margin: 1em;
}

.message-text{
  font-size: 18px;
}

.message-icon{
  font-size: 25px;
  margin: 5px;
}